#/etc/haproxy/haproxy.cfg
global
  daemon
  maxconn 20000

defaults
  mode tcp
  timeout connect 5s
  timeout client  1m
  timeout server  1m

frontend k8s-api
  bind *:6443
  default_backend k8s-api-backend

backend k8s-api-backend
  balance roundrobin
  option tcp-check
  server cp1 10.0.0.11:6443 check
  server cp2 10.0.0.12:6443 check
  server cp3 10.0.0.13:6443 check
