#/etc/haproxy/haproxy.cfg
global
  daemon
  maxconn 20000

defaults
  mode tcp
  timeout connect 5s
  timeout client  1m
  timeout server  1m

frontend k8s-api
  bind 192.168.1.253:6443
  default_backend k8s-api-backend

backend k8s-api-backend
  balance roundrobin
  option tcp-check
  server cp1 192.168.1.200:6443 check
  server cp2 192.168.1.201:6443 check
  server cp3 192.168.1.202:6443 check
